<div class="search">
  <br />
<p>Search for your  stylist</p>

  @using (Html.BeginForm("Index", "Clients", FormMethod.Get))
  {
    <input type="text" name="searchQuery" />
    <input type="submit" value="Search for Stylist" />
  }
</div>