
body{
  background-color: #f579b4;
  text-align: center;
}

h1{
  text-align: center;
  color: rgb(192, 192, 192);
  text-decoration: underline;
}
html{
  text-align: center;
  border-color: black solid 5px;
}