@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<img id="HairSalon" src="~/img/hair.jpg" class="logo">
<h2 class="text-center">Eau Claire's Salon</h2>
<h5 class="text-center">A place to track your Stylists and their clients.</h5>
<br />

<div class="text-center">
  <button class="btn btn-primary">@Html.ActionLink("See all Stylists", "Index", "Stylists")</button>
  <button class="btn btn-primary">@Html.ActionLink("See all Clients", "Index", "Clients")</button>
</div>
