@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<h2>Eau Claire's Salon</h2>
<h5>A place to track your Stylists and their clients.</h5>
<br/>

<button>@Html.ActionLink("See all Stylist", "Index", "Stylists" )</button>
<button>@Html.ActionLink("See all Clients", "Index", "Clients")</button>
