@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Delete Client</h3>
<p>Are you sure you want to delete  @Model.ClientName</p>

@using (Html.BeginForm())
{
  <div class="form-group">
    <input type="submit" value="Delete" class="btn btn-danger" />
  </div>
}
<div>
  @Html.ActionLink("Return to list", "Index", null, new { @class = "btn btn-primary" })
</div>